* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.first-stage {
    display: flex;
    flex-direction: column;
    padding: 0 170px;
    background-color: #1F2937;
}
.header , .container{
    display: flex;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 20px;
}
 h3 {
    color: #F9FAF8;
 }
.context > div {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}
.context > p {
    color: #919191;
    margin-bottom: 10px;
}
.context > button {
    border: 0;
}
.context {
    width: 400px;
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
a {
    color: #919191;
    text-decoration: none;
}
button {
    background-color: #3882F6;
    border-radius: 90px;
    padding: 5px 10px;
    color: white;
    border-color: white;
}
h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 36px;
}
.card > img, .card > p {
    width: 200px;
    height: 200px;
}
.card > img {
    border-color: #3882F6;
}
.card {
    flex-wrap: wrap;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.quote-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #E5E7EB;
}
.quote {
    width: 700px;
    font-size: 36px;
    font-family: 'light italic';
    color: #1F2937;
}
.author {
    font-size: 36px;
    font-family: 'light italic';
    align-self: flex-end;

}
.outside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact {
    flex: 1;
    display: flex;
    margin: 40px;
    padding: 20px 40px;
    background-color: #3882F6;
    color: white;
    gap: 60px;
}
.contact > button {
    
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding:5px 0 ;
    gap: 10px;
}